* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.Container {
    border: 2px blueviolet outset;
    border-right: dotted greenyellow;
    border-style: ridge;
    border-left: dashed rgb(216, 13, 47);
    border-top-style: ridge;
    border-top: rgb(2, 2, 27) ridge;
    font-size: 1.5rem;
    margin: 1.5em;
    padding: 1.5em;
    outline: 5px solid saddlebrown;
    outline-offset: -10;
}

.circle {
    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #000;
    outline: 2px solid red;
    outline-offset: -0.25rem;
}