* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;

  display: flex;
}

#left {
  width: 40%;
  height: 100%;
  position: relative;
}

#lnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

#lnavright {
  display: flex;
  align-items: center;
}

#lnavright a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

#right {
  width: 60%;
  height: 100%;
  background: white;
}

#rtop {
  width: 100%;
  height: 50%;
  background: royalblue;
  display: flex;
}

#lnavright i {
  color: #24a3f1;
}

#rbottom {
  width: 100%;
  height: 50%;
  background-color: #b7dbe7;
}

#rtopleft {
  width: 55%;
  height: 100%;
  background-color: #f1e5e7;
}
#rtopright {
  width: 45%;
  height: 100%;
  background: #f1b22f;
}

#left #textcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#textcenter h1 {
  font-size: 90px;
  font-weight: 900px;
}

#textcenter p {
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#textcenter a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 600px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
