@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
body {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.block {
  width: 30vw;
  height: 30vw;
  background-color: rgb(241, 18, 89);
  color: beige;
  padding: 1rem;
}

.left {
  float: left;
  margin-right: 1rem;
}

.right {
  float: right;
  margin-left: 1rem;
}

.clear {
  clear: both;
}

section {
  background-color: bisque;
  border: 1px solid #333;
  padding: 1rem;
  /* overflow: auto; */
  display: flow-root;
}
