@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

/* main {
    background-color: aqua;
    width: 50%;
} */

/* p {
    background-color: lightgray;
    margin: 100px 50px;


}
/* 
.opposite {
    background-color: #333;
    display: inline-block;
    color: whitesmoke;
    margin-top : 
    padding: 4rem;
    margin-top: 100px;
    height: 200px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0.5rem;
  text-align: right;
  background-color: #000;
  margin: 0;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover,
li a:focus {
  text-decoration: underline;
}
