table,
th,
td {
  border: 1px solid black;
}

* {
  background: rgb(243, 243, 4);
}

#h1-color {
  text-align: center;
}

/* Making the nav items horizontal */

nav {
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: rgb(77, 5, 77);
  font-weight: bolder;
}

img {
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-dist {
  text-align: center;
}
