.top_section {
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.main {
  padding: 70px;
}

.btn {
  color: white;
  padding: 10px 18px;
  background: #000000;
  border-radius: 5px;
  min-width: 220px;
  border: none;
  font-size: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s background ease-in;
  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: 0.3s background ease-in;
  }
}

.btns {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btns .spl {
  background: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.4s background ease-in;
  &:hover {
    background-color: black;
    border: 1px solid white;
    color: whitesmoke;
    transition: 0.3s background ease-in;
  }
}
