.number_select {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.flex {
  display: flex;
  gap: 24px;
}

.box {
  height: 72px;
  width: 72px;
  border: 1px solid black;
  display: grid;
  place-items: center;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.isSelected {
  background-color: black;
  color: white;
}
.notSelected {
  background-color: white;
  color: black;
}
