* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: bisque;
}
body {
  height: 100vh;
  width: 100vw;
}
.item:nth-child(1) {
  background: rgb(245, 56, 53);
}
.item:nth-child(2) {
  background: rgb(189, 204, 30);
}
.item:nth-child(3) {
  background: rgb(239, 141, 13);
}
.item:nth-child(4) {
  background: rgb(7, 70, 109);
}
.item:nth-child(5) {
  background: rgb(123, 88, 219);
}
.item:nth-child(6) {
  background: rgb(64, 214, 241);
}
.item:nth-child(7) {
  background: rgb(220, 151, 171);
}
.container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  /* gap: 10px; */
  background: #d1cdcd;
  height: 100%;
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.left {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.right {
  grid-column-start: 3;
  grid-column-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.left-big {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.right-big {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.small-top {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
/* .small-left {
}
.small-right {
} */
