* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: bisque;
}
.item:nth-child(1) {
  background: rgb(245, 56, 53);
}

.item:nth-child(3) {
  background: rgb(239, 141, 13);
}
.item:nth-child(4) {
  background: rgb(11, 163, 69);
}
.item:nth-child(2) {
  background: rgb(39, 204, 30);
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 90vh;
  width: 90vw;
  margin: 2px;
  padding: 10px;
  /* position: relative;
  top: 25%;
  left: 25%; */
  gap: 10px;
  font-size: larger;
}
.header {
  grid-column-start: 1;
  grid-column-end: 6;
}
.left {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.right {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 6;
}
.bottom {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 6;
}
