@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute {
  background-color: #00f;
  position: static;
}

/* /////////////////////////////////// */

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

.blue {
  background-color: #00f;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

header,
footer {
  column-rule: whitesmoke;
  text-align: center;
  height: 100px;
}

header {
  position: sticky;
  top: 0;
  font-size: 5rem;
}

footer {
  background-color: black;
  position: sticky;
  bottom: 0;
  font-size: 3rem;
}

a:visited {
  color: whitesmoke;
}

.social {
  background-color: royalblue;
  color: white;
  font-size: inherit;
  padding: 1rem;
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 1;
}
