* {
  margin: 0;
  padding: 0;
  box-sizing: 100vh;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

.profile-pic-figure {
  width: 35%;
}

.hero {
  border-bottom: 2px solid #000;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-color: gold;
  background-image: url("../img/scenic-2200x1331.png");
  background-repeat: repeat;
  background-size: cover;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img {
  width: 25%;
  height: auto;
}

/* Utility Classes*/

.nowrap {
  white-space: nowrap;
  color: aliceblue;
  font-size: 100px;
}

.offscreen {
  position: absolute;
  left: -100000px;
}
