body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(47, 47, 72, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  color: rgb(11, 19, 26);
  width: 95%;
  height: 80vh;
  display: flex;
}
.quotes {
  border: 5px inset white;
  width: 900px;
  height: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background: rgb(251, 217, 63);
  background: radial-gradient(
    circle,
    rgba(251, 217, 63, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.quotes p,
.quotes h3 {
  font-size: 1.5rem;
}
