* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h2 {
    border: 2px dashed rebeccapurple;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

main {
    width: 50%;
    background-color: rgb(127, 255, 212);
    font-size: 0.5em;
}

p {
    font-size: 2em;
    width: 30ch;
}