<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="../stylesheets/styles.css" />
  </head>
  <body>
    <h1><%=Hello%> express.js!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia mollitia
      alias rem vitae ratione quod reprehenderit totam atque possimus
      repellendus.
    </p>
    <script src="../javascripts/script.js"></script>
  </body>
</html>
