html {
    font-size: 22px;
  }
  body {
    background-color: #333;
    color: whitesmoke;
  }

  a{
    color : aqua;
  }

  a:visited {
    color : orange;
  }

  a:hover, a:active{
    color: antiquewhite;
  }